.toolbar{

	            border-top: 1px solid #ededed;
	    height:50px;
		.toolbar-inner{
	    	border-top:1px solid #ddd;
					.link { 
					  	  font-size: 11px;
						  color: #999;
						  overflow: visible; 
					}
					
					.ico {
						font-size: 25px;
						position: absolute;
						left: 50%;
						margin-left: -12px;
						margin-top: 4px;
					}

					span.type {
						margin-top: 30px;
					    margin-left:0px !important;
					}
					
					a.link.active {
						color: #310D55;
					}
		   }
}