.navbar-inner
  .left
    a(href="search.html").link.back
      i.icon.icon-back
  .center.sliding Clip the Track
  .right
.toolbar
.pages
  .page.main-page(data-page="clip")
    .page-content
        .content-block
          p Select a "20 second" clip of the track. Press the "Play" the hear the playback.       