.navbar-inner
  .left
    a(href="search.html").link.back
      i.icon.icon-back
  .center.sliding Clip the Track
  .right
.toolbar
.pages
  .page.main-page.clip(data-page="clip")
    .page-content
        .content-block
          p Select a "20 second" clip of the track. Press  <strong> "Play" </strong> hear the playback.       
          .wave-container
            div(id="waveform")
          p If you like what you hear, click  <strong>"I like this clip!"</strong> to proceed.      
        .button.play-back Play      

        