.navbar-inner
  .left
    a.link.icon-music3(href="user_status.html")
  .center.sliding Home
  .right
    a.link.icon-only.open-panel
      i.icon.icon-list
.toolbar
.pages
  .page.main-page.home(data-page="home")
    .page-content
     .content-block
     .content-block-title Friends
     .list-block.media-list
       ul