<<<<<<< HEAD
.navbar-inner
  .left
    a.link.icon-music3(href="music.html")
      i.icon.icon-back-blue
  .center.sliding Home
  .right
    a.link.icon-only.open-panel
      i.icon.icon-list
.toolbar
.pages
  .page.main-page(data-page="home")
    .page-content
      .content-block
        .item.user
          .avatar
          audio
          .albulm 
              span.play 
      .content-block
        .item.user
          .avatar
          audio
          .albulm 
              span.play 
=======
.navbar-inner
  .left
    a.link.icon-music3(href="music.html")
      i.icon.icon-back-blue
  .center.sliding Home
  .right
    a.link.icon-only.open-panel
      i.icon.icon-list
.toolbar
.pages
  .page.main-page(data-page="home")
    .page-content
      .content-block
        .item.user
          .avatar
          audio
          .albulm 
              span.play 
      .content-block
        .item.user
          .avatar
          audio
          .albulm 
              span.play 
>>>>>>> a2af0bc95f3ed0788676c4220c387a7c9b0c3171
