doctype
html.with-statusbar-overlay(manifest="manifest.php")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    title Pict-O-Jam
    link(rel="stylesheet", href="dist/css/framework7.css")
    link(rel="stylesheet", href="css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Dorsa', rel='stylesheet', type='text/css')


    // Favicon
    link(href="img/icon-57.png", rel="shortcut icon")
    | 
    <!-- iOS 7 iPad (retina) -->
    <link href="img/icon-152.png" sizes="152x152" rel="apple-touch-icon">
    <!-- iOS 6 iPad (retina) -->
    <link href="img/icon-144.png" sizes="144x144" rel="apple-touch-icon">
    <!-- iOS 7 iPhone (retina) -->
    <link href="img/icon-120.png" sizes="120x120" rel="apple-touch-icon">
    <!-- iOS 6 iPhone (retina) -->
    <link href="img/icon-114.png" sizes="114x114" rel="apple-touch-icon">
    <!-- iOS 7 iPad -->
    <link href="img/icon-76.png" sizes="76x76" rel="apple-touch-icon">
    <!-- iOS 6 iPad -->
    <link href="img/icon-72.png" sizes="72x72" rel="apple-touch-icon">
    <!-- iOS 6 iPhone -->
    <link href="img/icon-57.png" sizes="57x57" rel="apple-touch-icon">
  body
    // Statusbar overlay
    .statusbar-overlay
    // Views
    .views
      .view.view-main.navbar-fixed
        .navbar.hidden
          //- .navbar-inner
            .left
            .center.sliding Welcome
            .right
              a.open-panel.link.icon-only
              //- i.icon.icon-list
        
        .pages
          .page(data-page="index")
            .page-content
              .main-title IM JAMIN
              h2(style="color:#fff;font-family: 'Dorsa', sans-serif;font-size: 40px;letter-spacing: 4px;text-align: center;opacity: 0.5;") Please Wait
              //- .feilds.sign-in
                form(id="sign-in", class="store-data list-block ajax-submit", action="/server/server.php", method="GET")
                  ul
                    li
                      label.label-radio.item-content
                        input(type="radio", name="country", value="+1", checked="checked", id="US")
                        div.item-inner
                            div.item-title United States (+1)
                    li
                      label.label-radio.item-content
                        input(type="radio", name="country", value="+44", checked="", id="UK")
                        div.item-inner
                            div.item-title United Kingdom (+44)
                    li
                      div.item-content
                        div.item-media
                          i.icon.icon-form-tel
                        div.item-inner
                           div.item-title.label Mobile
                           div.item-input
                               input(type="tel", placeholder="Your Mobile", name="mobile", id="mobile")
                 a.button.done.prompt-ok(href="#") Done 
                 a.home_page.hidden(href="profile.html") Home       
              //- .register
                  p Not a member yet? Click <a href="#" class="link icon-only open-popup">here</a> to sign up. 

    // Popup to add new task           
    //- .popup
      .view.view-popup.navbar-fixed
        .navbar
          .navbar-inner
            .left
            .center.sliding Register
            .right
                a(href="#").link.close-popup Cancel
        .pages
          .page
            .page-content
              .register-block
                form(id="register", class="store-data list-block ajax-submit", action="/server/upload.php", method="post", encrypt="multipart/form-data")
                  ul
                    li
                      div.item-content
                        div.item-media
                          i.icon.icon-form-name
                        div.item-inner
                           div.item-title.label Name
                           div.item-input
                             input(type="text", placeholder="Your Name", name="name", id="name")  
                    li
                      div.item-content
                        div.item-media
                          i.icon.icon-form-email
                        div.item-inner
                           div.item-title.label Email
                           div.item-input
                             input(type="email", placeholder="Your Email", name="email", id="email")
                    li
                      label.label-radio.item-content
                        input(type="radio", name="country", value="+1", checked="checked", id="US")
                        div.item-inner
                            div.item-title United States (+1)
                    li
                      label.label-radio.item-content
                        input(type="radio", name="country", value="+44", checked="", id="UK")
                        div.item-inner
                            div.item-title United Kingdom (+44)
                    li
                      div.item-content
                        div.item-media
                          i.icon.icon-form-tel
                        div.item-inner
                           div.item-title.label Mobile
                           div.item-input
                             input(type="tel", placeholder="Your Mobile", name="mobile", id="mobile")
                    li
                      div.item-content
                        div.item-media
                          i.icon.icon-form-password
                        div.item-inner
                           div.item-title.label Password
                           div.item-input
                             input(type="password", placeholder="Choose Password", name="password", id="password")
                    li
                      div.item-content
                        div.item-media
                          i.icon.icon-form-password
                        div.item-inner
                           div.item-title.label Confirm
                           div.item-input
                             input(type="password", placeholder="Confirm Password", name="confirm", id="confirm")
                    li
                      div.item-content
                        div.item-media
                          i.icon.icon-form
                        div.item-inner
                           div.item-title.label Avatar
                           div.item-input
                             input(type="file", placeholder="Choose an avatar", name="avatar", class="visibility-hidden", id="avatar")
                             a.button.fileUpload Choose an Avatar 

                  div(id="output")  


                  a.button.register Register
            
    .col-25
      span(style="width:42px; height:42px", class="preloader preloader-white")
      
          
    // Template
    script(id="todo-item-template", type="text/template")
      ul
        {{#each this}}
        li.swipeout(data-color="{{color}}", data-id="{{id}}")
          .swipeout-content
            label.label-checkbox.item-content
              | <input type="checkbox" {{checked}}>
              .item-media
                i.icon.icon-form-checkbox
              .item-inner
                .item-title {{title}}
          .swipeout-actions-right
            a(href="#").swipeout-delete Delete
        {{/each}}

    // Path to Framework7 Library JS
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    //- script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js")  
    script(type="text/javascript", src="dist/js/framework7.min.js")
   
    // Path to your app js

    script(type="text/javascript", src="js/todo7.js")
    script(type="text/javascript", src="js/app.js")
    script(type="text/javascript", src="js/index.js")
    