div.navbar
  div.navbar-inner
    div.left
      //- a.back.link(href="index.html")
        i.icon.icon-back-blue
         span Back
    div.center.sliding Login
  div.pages
   div(data-page="login", class="page login")
    .page-content
      .content-block
        .feilds.sign-in
          form(id="sign-in", class="store-data list-block ajax-submit", action="/server/server.php", method="GET")
            ul
              li Select Country: 
                label.label-radio.item-content 
                  input(type="radio", name="country", value="+1", checked="checked", id="US")
                  div.item-inner
                      div.item-title United States (+1)
              li
                label.label-radio.item-content
                  input(type="radio", name="country", value="+44", checked="", id="UK")
                  div.item-inner
                      div.item-title United Kingdom (+44)
              li
                div.item-content
                  div.item-media
                    i.icon.icon-form-tel
                  div.item-inner
                     div.item-title.label Mobile
                     div.item-input
                         input(type="tel", placeholder="Your Mobile", name="mobile", id="mobile")
           a.button.done.prompt-ok(href="#") Done 
           a.home_page.hidden(href="profile.html") Home       
      //- .register
          p Not a member yet? Click <a href="#" class="link icon-only open-popup">here</a> to sign up. 
