.navbar
  .navbar-inner
    .left
    .center.sliding Login
.pages
  .page.main-page.no-toolbar.no-navbar(data-page="login")
   .page-content
    .content-block
      .feilds.sign-in
        form(id="sign-in", class="store-data list-block ajax-submit", action="/server/server.php", method="GET")
          ul
            li Select Country: 
              label.label-radio.item-content 
                input(type="radio", name="country", value="+1", checked="checked", id="US")
                .item-inner
                    .item-title United States (+1)
            li
              label.label-radio.item-content
                input(type="radio", name="country", value="+44", checked="", id="UK")
                .item-inner
                    .item-title United Kingdom (+44)
            li
              .item-content
                .item-media
                  i.icon.icon-form-tel
                .item-inner
                   .item-title.label Mobile
                   .item-input
                       input(type="tel", placeholder="Your Mobile", name="mobile", id="mobile")
         a.button.done(href="#", data-function="checkNum") Send SMS Code 