.navbar-inner
  .left
    a(href="home.html").link.back.icon-arrow-left
      i
  .center.sliding Mood By Music
  .right
.toolbar
.pages
  .page.main-page(data-page="music")
    .page-content
        .content-block
          p Set your "Mood By Music" by selecting a song. Set a status to accompany!
          a(href="search.html").button  Find a song 
          textarea.status-input(placeholder="Set you stauts here...")
      