.navbar
  .navbar-inner
    .left.sliding
      a(href="home.html").back.link
        i.icon.icon-back
        span Back
    .center.sliding Current Chats
    .right
.popup.popup-newChat
  .content-block
    p Start a chat with...
  .page-content.contacts-content
   .list-block.contacts-block
    .list-group
      ul