.navbar-inner
  .left
    a(href="home.html").link.back
      i.icon.icon-back
  .center.sliding Mood By Music
  .right
.toolbar
.pages
  .page.main-page(data-page="new_status")
    .page-content
        .content-block
          p Currently, you dont have a status set.
          p Start here to create your "Mood by Music"
          a(href="search.html").button  Find a song 
      