.navbar-inner
  .left
    a(href="home.html").link.back
      i.icon.icon-left
  .center.sliding No Status
  .right
.toolbar
.pages
  .page.main-page(data-page="noStatus")
    .page-content
        .content-block
          p Currently this user has not set their sataus.