.navbar-inner
  .left
    a(href="home.html").link.back.icon-arrow-left
      i
  .center.sliding Search
  .right
.toolbar
.pages
  .page.main-page(data-page="music")
    .page-content
        form.searchbar(data-search-list=".search-here", data-search-in=".item-title")
          .searchbar-input
            input.active-state(type="search", placeholder="Search")
            a.searchbar-clear(href="#")
          a.searchbar-cancel(href="#", style="margin-right: -53px") Cancel
        .content-block
          p Set your "Mood By Music" by searching for Artist, Albulm, or Song. Set a status to accompany! 

      