.navbar-inner
  .left
    a(href="home.html").link.back.icon-arrow-left
      i
  .center.sliding John D
  .right
    a.link.icon-only.open-panel
      i.icon.icon-list
.toolbar
.pages
  .page.main-page.status(data-page="status")
    .page-content
     .content-block
       audio.hidden(controls, autoplay)
          source(src="assets/14 You Were a Kindness.m4a", type="audio/ogg")
          source(src="assets/14 You Were a Kindness.m4a", type="audio/m4a")
          source(src="assets/14 You Were a Kindness.m4a", type="audio/mp3")