.navbar-inner
  .left
    a.link.back(href="home.html")
      i.icon.icon-left
  .center.sliding Your Status
  .right
    a.link.icon-only.open-panel
      i.icon.icon-list
.toolbar
.pages
  .page.main-page.status(data-page="yourStatus", id="user_status")
    .page-content
     .content-block
       p(style="text-align:center") Loading your status...
