.main-title {
  color: #fff;
  font-family: 'Dorsa', sans-serif;
  font-size: 85px;
  text-align: center;
  opacity: 0.5;
  letter-spacing: 3PX;
}
.navbar {
  border-bottom: 1px solid #c4c4c4;
  background: #f7f7f8;
}
.navbar.hidden {
  visibility: hidden;
}
.navbar .navbar-inner {
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
.navbar .navbar-on-center,
.navbar .navbar-on-left,
.navbar .navbar-from-center-to-left {
  background-color: #f7f7f8;
}
.navbar .navbar-on-center .link,
.navbar .navbar-on-left .link,
.navbar .navbar-from-center-to-left .link {
  color: #ff2d55 !important;
}
.navbar .navbar-on-center .center,
.navbar .navbar-on-left .center,
.navbar .navbar-from-center-to-left .center {
  color: #000;
}
.navbar .icon-music3:before {
  font-size: 24px;
  position: absolute;
}
.navbar .icon-arrow-left:before {
  font-size: 30px;
  position: absolute;
}
.button {
  border: 1px solid #ff2d55;
  color: #ff2d55;
}
textarea.status-input {
  margin: 10px auto;
  -webkit-appearance: none;
  width: 90%;
  display: block;
  background: #f7f7f8;
  text-align: left;
  border-color: #ff2d55;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
}
body {
  background: #000;
}
.view-main {
  background: url(../img/bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}
.pages,
.page {
  background: none;
}
.main-page .page-content {
  background: #efeff4;
}
html.ios .page {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
html.ios .page-content {
  margin-bottom: 1px;
}
i.icon-plus {
  color: #fff;
}
.todo-items-list {
  margin: 0;
  color: #fff;
  font-weight: 300;
}
.todo-items-list ul {
  background: none;
  border: none;
}
.todo-items-list .item-title {
  font-size: 18px;
}
.todo-items-list .swipeout-content {
  background: none;
}
.todo-items-list .item-inner {
  padding-top: 18px;
  padding-bottom: 16px;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.todo-items-list .label-checkbox.active-state {
  background: rgba(255, 255, 255, 0.2);
}
.todo-items-list .item-content {
  border-left: 5px solid;
}
.todo-items-list li[data-color="orange"] .item-content {
  border-left-color: #ff8400;
}
.todo-items-list li[data-color="blue"] .item-content {
  border-left-color: #089efe;
}
.todo-items-list li[data-color="green"] .item-content {
  border-left-color: #2df523;
}
.todo-items-list li[data-color="white"] .item-content {
  border-left-color: #fff;
}
.todo-items-list li[data-color="yellow"] .item-content {
  border-left-color: #eaff00;
}
.todo-items-list li[data-color="pink"] .item-content {
  border-left-color: #ff2d55;
}
.todo-items-list li[data-color="purple"] .item-content {
  border-left-color: #ff00f0;
}
.todo-items-list li[data-color="cyan"] .item-content {
  border-left-color: #00fff6;
}
.popup {
  background: rgba(147, 0, 28, 0.7);
}
.popup .navbar {
  color: #fff;
  background: #c60026;
  border: none;
}
.popup a.link {
  color: #fff;
}
.popup .list-block ul {
  background: none;
  border: none;
  color: #fff;
}
.popup .list-block input {
  color: #fff;
}
.popup .item-inner {
  border-color: rgba(255, 255, 255, 0.2);
}
.popup .button {
  border-color: #fff;
  color: #fff;
}
.popup .button.active-state {
  background: rgba(255, 255, 255, 0.1);
}
.popup span.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #000;
  vertical-align: middle;
  margin-right: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
}
.popup span.color:last-child {
  margin-right: 0;
}
.popup span.color[data-color="orange"] {
  background: #ff8400;
}
.popup span.color[data-color="pink"] {
  background: #ff2d55;
}
.popup span.color[data-color="blue"] {
  background: #089efe;
}
.popup span.color[data-color="green"] {
  background: #2df523;
}
.popup span.color[data-color="yellow"] {
  background: #eaff00;
}
.popup span.color[data-color="white"] {
  background: #fff;
}
.popup span.color[data-color="purple"] {
  background: #ff00f0;
}
.popup span.color[data-color="cyan"] {
  background: #00fff6;
}
.popup span.color.selected {
  -webkit-transform: translate3d(0, 0, 0) scale(1.25);
  -moz-transform: translate3d(0, 0, 0) scale(1.25);
  -ms-transform: translate3d(0, 0, 0) scale(1.25);
  -o-transform: translate3d(0, 0, 0) scale(1.25);
  transform: translate3d(0, 0, 0) scale(1.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
@media all and (min-width: 568px) {
  .popup span.color {
    margin-right: 10px;
  }
}
body.with-popup .view-main {
  -webkit-transform: translate3d(0, 0px, 0) scale(0.85);
  -moz-transform: translate3d(0, 0px, 0) scale(0.85);
  -ms-transform: translate3d(0, 0px, 0) scale(0.85);
  -o-transform: translate3d(0, 0px, 0) scale(0.85);
  transform: translate3d(0, 0px, 0) scale(0.85);
  -webkit-filter: blur(5px);
}
body.with-popup .statusbar-overlay {
  background: #c60026;
}
@media all and (max-width: 629px) and (max-height: 629px) {
  body.with-popup .statusbar-overlay {
    z-index: 11000;
  }
}
.modal-inner {
  background: #ff2d55;
  color: #fff;
  border-bottom: 1px solid #f9002f;
}
.modal-button {
  background: #ff2d55;
  border-right-color: #f9002f;
  color: #fff;
}
.modal-button.active-state {
  background: #f9002f;
}
img[src*="iphone"] {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.register {
  position: absolute;
  bottom: 0;
  color: #fff;
  opacity: 0.6;
  text-align: center;
  width: 100%;
  font-size: 16px;
}
#register ul {
  border: none;
  background: none;
}
#register .button {
  border-color: #cc0442;
  color: #cc0442;
}
#register a.button.register {
  position: relative;
  margin-top: 30px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}
#register label.label-radio.item-content {
  padding-left: 60px;
}
#register .visibility-hidden {
  visibility: hidden;
}
#register #avatar_preview {
  border-radius: 100%;
  border: 1px solid #fff;
  margin-top: 10px;
}
#register img.iphone-image {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.home .item-media img {
  border-radius: 100%;
}
.col-25 {
  position: absolute;
  top: 0;
  z-index: 5000;
  top: 50%;
  left: 50%;
  margin-left: -21px;
  margin-top: -21px;
  display: none;
}
.sign-in {
  width: 90%;
  margin: 15px;
  text-align: center;
  position: relative;
}
.sign-in ul {
  background: none;
  color: #999;
  border: none;
}
.sign-in input {
  -webkit-appearance: none;
  width: 90%;
  border: none;
  position: relative;
  padding: 14px;
  margin: 5px 0px;
  background: rgba(255, 255, 255, 0.2);
  color: #555 !important;
  font-size: 15px;
}
.sign-in button {
  -webkit-appearance: none;
  border: none;
  padding: 10px;
  width: 50%;
  background: none;
  color: #cc0442;
  font-size: 20px;
  opacity: 0.8;
}
.sign-in a.button.done {
  color: #cc0442;
  border-color: #cc0442;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.sign-in a.home_page {
  display: none;
}
.toolbar {
  height: 50px;
}
.toolbar .link {
  font-size: 11px;
  color: #999;
  overflow: visible;
}
.toolbar .ico {
  font-size: 25px;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-top: 4px;
}
.toolbar span.type {
  margin-top: 30px;
  margin-left: 0px !important;
}
.toolbar a.link.active {
  color: #ff2d55;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-3u1kut');
  src: url('../fonts/icomoon.eot?#iefix-3u1kut') format('embedded-opentype'), url('../fonts/icomoon.woff?-3u1kut') format('woff'), url('../fonts/icomoon.ttf?-3u1kut') format('truetype'), url('../fonts/icomoon.svg?-3u1kut#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\e600";
}
.icon-music:before {
  content: "\e601";
}
.icon-headphones:before {
  content: "\e602";
}
.icon-play:before {
  content: "\e603";
}
.icon-bubbles:before {
  content: "\e604";
}
.icon-user:before {
  content: "\e605";
}
.icon-thumbs-up:before {
  content: "\e606";
}
.icon-cancel-circle:before {
  content: "\e607";
}
.icon-checkmark-circle:before {
  content: "\e608";
}
.icon-exit:before {
  content: "\e609";
}
.icon-play2:before {
  content: "\e60a";
}
.icon-pause:before {
  content: "\e60b";
}
.icon-stop:before {
  content: "\e60c";
}
.icon-loop:before {
  content: "\e60d";
}
.icon-youtube:before {
  content: "\e60e";
}
.icon-youtube2:before {
  content: "\e60f";
}
.icon-users:before {
  content: "\e610";
}
.icon-user-add:before {
  content: "\e611";
}
.icon-music2:before {
  content: "\e612";
}
.icon-music3:before {
  content: "\e613";
}
.icon-checkmark:before {
  content: "\e614";
}
.icon-cross:before {
  content: "\e615";
}
.icon-arrow-left:before {
  content: "\e616";
}
@font-face {
  font-family: Ratchicons;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/ratchicons.eot');
  src: url('../fonts/ratchicons.eot?#iefix') format('embedded-opentype'), url('../fonts/ratchicons.woff') format('woff'), url('../fonts/ratchicons.ttf') format('truetype'), url('../fonts/ratchicons.svg#svgFontName') format('svg');
}
.icon {
  display: inline-block;
  font-family: Ratchicons;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.icon-bars:before {
  content: '\e80e';
}
.icon-caret:before {
  content: '\e80f';
}
.icon-check:before {
  content: '\e810';
}
.icon-close:before {
  content: '\e811';
}
.icon-code:before {
  content: '\e812';
}
.icon-compose:before {
  content: '\e813';
}
.icon-download:before {
  content: '\e815';
}
.icon-edit:before {
  content: '\e829';
}
.icon-forward:before {
  content: '\e82a';
}
.icon-gear:before {
  content: '\e821';
}
.icon-info:before {
  content: '\e82c';
}
.icon-list:before {
  content: '\e823';
}
.icon-more-vertical:before {
  content: '\e82e';
}
.icon-more:before {
  content: '\e82f';
}
.icon-pages:before {
  content: '\e824';
}
.icon-pause:before {
  content: '\e830';
}
.icon-person:before {
  content: '\e832';
}
.icon-play:before {
  content: '\e816';
}
.icon-plus:before {
  content: '\e817';
}
.icon-refresh:before {
  content: '\e825';
}
.icon-search:before {
  content: '\e819';
}
.icon-share:before {
  content: '\e81a';
}
.icon-sound:before {
  content: '\e827';
}
.icon-sound2:before {
  content: '\e828';
}
.icon-sound3:before {
  content: '\e80b';
}
.icon-sound4:before {
  content: '\e80c';
}
.icon-star-filled:before {
  content: '\e81b';
}
.icon-star:before {
  content: '\e81c';
}
.icon-stop:before {
  content: '\e81d';
}
.icon-trash:before {
  content: '\e81e';
}
.icon-up-nav:before {
  content: '\e81f';
}
.icon-up:before {
  content: '\e80d';
}
.icon-right-nav:before {
  content: '\e818';
}
.icon-right:before {
  content: '\e826';
}
.icon-down-nav:before {
  content: '\e814';
}
.icon-down:before {
  content: '\e820';
}
.icon-left-nav:before {
  content: '\e82d';
}
.icon-left:before {
  content: '\e822';
}
.status audio.hidden {
  display: none;
}
.status .upper {
  width: 100%;
}
.status .upper,
.status .bottom {
  display: inline-block;
  position: relative;
}
.status .avatar.left {
  float: left;
  width: 30%;
}
.status .u_name {
  font-weight: bold;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.status .avatar img {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.status .status.right {
  float: right;
  width: 70%;
}
.status .cover {
  height: 250px;
  width: 250px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 8px auto;
  border: 1px solid #ccc;
  position: relative;
  background-size: 100%;
}
.status .bottom {
  width: 100%;
}
.status .play_button {
  font-size: 150px;
  opacity: 0.7;
  color: #ff2d55;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 150px;
  text-align: center;
}
.status .play_button:active {
  opacity: 1;
}
.status blockquote {
  margin: 0px;
  padding: 5px 10px;
  position: relative;
  background: #fff;
  border-radius: 5px;
}
.status blockquote:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}
.status .track_info {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.status .hidden {
  display: none;
}
.status .button.edit-status {
  width: 50%;
  display: table;
  position: absolute;
  bottom: 0;
  margin: 10px 63px;
  color: #fff;
  border-color: #fff;
  background: #ff2d55;
}
.set_status .hidden {
  display: none;
}
.clip .button {
  -webkit-transition: width .3s ease;
  -moz-transition: width .3s ease;
  -o-transition: width .3s ease;
  transition: width .3s ease;
  margin: 0 auto;
  display: table;
  padding: 0px;
  position: relative;
}
.clip #play-back {
  width: 40px;
}
.clip #proceed {
  width: 165px;
}
.clip .text {
  text-align: center;
  width: 100%;
}
.clip .proceed.text {
  display: none;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 200px;
  background: #fff;
  border: 1px solid #ff2d55;
}
.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #ff2d55;
  width: 0%;
}
.pace .pace-progress.go {
  width: 100%;
}
.pace.pace-inactive {
  display: none;
}
