.sign-in {
  width: 90%;
  margin: 15px;
  text-align: center;
  position: relative;
}
.sign-in ul {
  background: none;
  color: #999;
  border: none;
}
.sign-in input {
  -webkit-appearance: none;
  width: 90%;
  border: none;
  position: relative;
  padding: 14px;
  margin: 5px 0px;
  background: rgba(255, 255, 255, 0.2);
  color: #555 !important;
  font-size: 15px;
}
.sign-in button {
  -webkit-appearance: none;
  border: none;
  padding: 10px;
  width: 50%;
  background: none;
  color: #cc0442;
  font-size: 20px;
  opacity: 0.8;
}
.sign-in a.button.done {
  color: #cc0442;
  border-color: #cc0442;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.sign-in a.home_page {
  display: none;
}
