.button {
  border: 1px solid #310d55;
  color: #310d55;
}
textarea.status-input {
  margin: 10px auto;
  -webkit-appearance: none;
  width: 90%;
  display: block;
  background: #f7f7f8;
  text-align: left;
  border-color: #310d55;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
}
body {
  background: #000;
}
.view-main {
  background: #310D55;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}
.view-main .gradient-center {
  height: 500px;
  width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -250px;
  background: -moz-radial-gradient(center, ellipse cover, #73358b 0%, rgba(255, 255, 255, 0) 50%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #73358b), color-stop(50%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #73358b 0%, rgba(255, 255, 255, 0) 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #73358b 0%, rgba(255, 255, 255, 0) 50%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #73358b 0%, rgba(255, 255, 255, 0) 50%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #73358b 0%, rgba(255, 255, 255, 0) 50%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73358b', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  opacity: 0.2;
}
.view-main .icon-img {
  background: url('../img/imjammin-bg.png') center no-repeat;
  height: 250px;
  width: 250px;
  background-size: 55%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  opacity: 1;
  margin-left: -120px;
  margin-top: -125px;
}
.pages,
.page {
  background: none;
}
.main-page .page-content {
  background: #ffffff;
}
html.ios .page {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
html.ios .page-content {
  margin-bottom: 1px;
}
i.icon-plus {
  color: #fff;
}
.todo-items-list {
  margin: 0;
  color: #fff;
  font-weight: 300;
}
.todo-items-list ul {
  background: none;
  border: none;
}
.todo-items-list .item-title {
  font-size: 18px;
}
.todo-items-list .swipeout-content {
  background: none;
}
.todo-items-list .item-inner {
  padding-top: 18px;
  padding-bottom: 16px;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.todo-items-list .label-checkbox.active-state {
  background: rgba(255, 255, 255, 0.2);
}
.todo-items-list .item-content {
  border-left: 5px solid;
}
.todo-items-list li[data-color="orange"] .item-content {
  border-left-color: #ff8400;
}
.todo-items-list li[data-color="blue"] .item-content {
  border-left-color: #089efe;
}
.todo-items-list li[data-color="green"] .item-content {
  border-left-color: #2df523;
}
.todo-items-list li[data-color="white"] .item-content {
  border-left-color: #ffffff;
}
.todo-items-list li[data-color="yellow"] .item-content {
  border-left-color: #eaff00;
}
.todo-items-list li[data-color="pink"] .item-content {
  border-left-color: #310d55;
}
.todo-items-list li[data-color="purple"] .item-content {
  border-left-color: #310d55;
}
.todo-items-list li[data-color="cyan"] .item-content {
  border-left-color: #00fff6;
}
.popup {
  background: rgba(0, 0, 0, 0.7);
}
.popup .navbar {
  color: #ffffff;
  background: #000000;
  border: none;
}
.popup a.link {
  color: #ffffff;
}
.popup .list-block ul {
  background: none;
  border: none;
  color: #ffffff;
}
.popup .list-block input {
  color: #ffffff;
}
.popup .item-inner {
  border-color: rgba(255, 255, 255, 0.2);
}
.popup .button {
  border-color: #ffffff;
  color: #ffffff;
}
.popup .button.active-state {
  background: rgba(255, 255, 255, 0.1);
}
.popup span.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #000;
  vertical-align: middle;
  margin-right: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
}
.popup span.color:last-child {
  margin-right: 0;
}
.popup span.color[data-color="orange"] {
  background: #ff8400;
}
.popup span.color[data-color="pink"] {
  background: #310d55;
}
.popup span.color[data-color="blue"] {
  background: #089efe;
}
.popup span.color[data-color="green"] {
  background: #2df523;
}
.popup span.color[data-color="yellow"] {
  background: #eaff00;
}
.popup span.color[data-color="white"] {
  background: #ffffff;
}
.popup span.color[data-color="purple"] {
  background: #310d55;
}
.popup span.color[data-color="cyan"] {
  background: #00fff6;
}
.popup span.color.selected {
  -webkit-transform: translate3d(0, 0, 0) scale(1.25);
  -moz-transform: translate3d(0, 0, 0) scale(1.25);
  -ms-transform: translate3d(0, 0, 0) scale(1.25);
  -o-transform: translate3d(0, 0, 0) scale(1.25);
  transform: translate3d(0, 0, 0) scale(1.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
@media all and (min-width: 568px) {
  .popup span.color {
    margin-right: 10px;
  }
}
body.with-popup .view-main {
  -webkit-transform: translate3d(0, 0px, 0) scale(0.85);
  -moz-transform: translate3d(0, 0px, 0) scale(0.85);
  -ms-transform: translate3d(0, 0px, 0) scale(0.85);
  -o-transform: translate3d(0, 0px, 0) scale(0.85);
  transform: translate3d(0, 0px, 0) scale(0.85);
  -webkit-filter: blur(5px);
}
body.with-popup .statusbar-overlay {
  background: #000000;
}
@media all and (max-width: 629px) and (max-height: 629px) {
  body.with-popup .statusbar-overlay {
    z-index: 11000;
  }
}
.modal-inner {
  background: #310d55;
  color: #ffffff;
  border-bottom: 1px solid #170629;
}
.modal-button {
  background: #310d55;
  border-right-color: #170629;
  color: #ffffff;
}
.modal-button.active-state {
  background: #170629;
}
