div.navbar
  div.navbar-inner
    div.left
    div.center.sliding Checking Info
    div.right
      a.link.icon-only.open-panel
        i.icon.icon-list
div.pages
  div.page.main-page.no-toolbar.no-navbar(data-page="checkReg") 
    div.page-content
      div.content-block
       .register-block
           p(style="text-align:center") We're loading your profile. Please wait.