.navbar-inner
  .left
    a(href="home.html").link.back
      i.icon.icon-left
  .center.sliding Mood By Music
  .right
.toolbar
.pages
  .page.main-page(data-page="new_status")
    .page-content
        .content-block
          p Edit your status or set a new "Mood by Music"
          a(href="search.html").button  Find a song 
      