.navbar-inner
  .left
  .center.sliding Set a Status
  .right
.toolbar
.pages
  .page.main-page(data-page="newStatus")
    .page-content
        .content-block
          p Currently, you dont have a status set.
          p Start here to create your "Mood by Music"
          a(href="search.html").button  Find a song 
      