.navbar-inner
  .left
    a(href="home.html").link.back
      i.icon.icon-left
  .center.sliding Search
  .right
.toolbar
.pages
  .page.main-page(data-page="music")
    .page-content
        form.searchbar(data-search-list=".search-here", data-search-in=".item-title")
          .searchbar-input
            input.active-state(type="search", placeholder="Search by Track, Artist, or Album. ")
            a.searchbar-clear(href="#")
          a.searchbar-cancel(href="#", style="margin-right: -53px") Cancel
        .content-block
        .content-block-title RESULTS 
        .list-block.media-list.results
          ul
       

      