.navbar-inner
  .left
    a(href="search.html").link.back
      i.icon.icon-back
  .center.sliding Set You Status
  .right
.toolbar
.pages
  .page.main-page.set_status(data-page="set_status")
    .page-content
        .content-block
          p Finally, set your status to accompany the music clip you've chosen.       
          textarea.status-input(placeholder="Enter your status here.")  
          p When you're dont, hit <strong>"Set my status!"</strong> to post your new status.   
          .button(id="status-done") Set my status!

        