.navbar-inner
  .left
    a(href="home.html").link.back
      i.icon.icon-back
  .center.sliding Your Status
  .right
    a.link.icon-only.open-panel
      i.icon.icon-list
.toolbar
.pages
  .page.main-page.status(data-page="user_status", id="user_status")
    .page-content
     .content-block