<<<<<<< HEAD
.toolbar {
  height: 50px;
}
.toolbar .link {
  font-size: 11px;
  color: #999;
  overflow: visible;
}
.toolbar .ico {
  font-size: 25px;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-top: 4px;
}
.toolbar span.type {
  margin-top: 30px;
  margin-left: 0px !important;
}
.toolbar a.link.active {
  color: #cc0442;
=======
.toolbar .link {
  font-size: 12px;
>>>>>>> a2af0bc95f3ed0788676c4220c387a7c9b0c3171
}
