.toolbar {
  height: 50px;
}
.toolbar .link {
  font-size: 11px;
  color: #999;
  overflow: visible;
}
.toolbar .ico {
  font-size: 25px;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-top: 4px;
}
.toolbar span.type {
  margin-top: 30px;
  margin-left: 0px !important;
}
.toolbar a.link.active {
  color: #ff2d55;
}
